body {
  padding: 13px;
  font-family: sans-serif;
  font-size: 14px;
  color: #444
}

input {
  font-size: 14px;
  padding: 15px 10px;
  outline: none;
  border: 1px solid #ddd;
}

input:focus {
  box-shadow: 0 1px 2px rgba(0, 0, 0, .15)
}

button {
  background: #28d;
  padding: 9px 14px;
  margin: 5px;
  border: none;
  outline: none;
  color: #fff;
  font-size: 14px;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  box-shadow: 0 1px 2px rgba(0, 0, 0, .15);
  opacity: 0.9;
}

button:active {
  background: #29f;
}

button[disabled] {
  opacity: 0.4;
  cursor: default
}

#text {
  width: 86%;
  margin: auto;
}

#numb {
  width: 5%;
  text-align: center;
}

html {
  overflow: hidden;
}

body {
  font: 14pt Arial, sans-serif;
  background: lightgrey;
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100%;
  margin: 0 0;
}

canvas {
  display: inline-block;
  background: #202020;
  width: 90%;
  height: 38%;
  box-shadow: 0px 0px 10px blue;
}

#controls {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  height: 10%;
  width: 10%;
  margin-right: 10px;
}

#record.recording {
  background: red;
  background: -webkit-radial-gradient(center, ellipse cover, #ff0000 0%, lightgrey 75%, lightgrey 100%, #7db9e8 100%);
  background: -moz-radial-gradient(center, ellipse cover, #ff0000 0%, lightgrey 75%, lightgrey 100%, #7db9e8 100%);
  background: radial-gradient(center, ellipse cover, #ff0000 0%, lightgrey 75%, lightgrey 100%, #7db9e8 100%);
}

#save,
#save img {
  height: 12vh;
}

#save {
  opacity: 0.25;
}

#save[download] {
  opacity: 1;
}

#viz {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

@media (orientation: landscape) {
  body {
    flex-direction: row;
  }

  #controls {
    flex-direction: column;
    height: 100%;
    width: 10%;
  }

  #viz {
    height: 100%;
    width: 90%;
  }
}
